<div th:fragment="nav">
  <input type="checkbox" id="nav-toggle" hidden>
  <div class="black_block">
  </div>
  <nav class="nav">

    <label for="nav-toggle" class="nav-toggle" onclick></label>

    <ul>
      <li><a href="/transportAdd">Вьезд-Охрана</a>
      <li><a href="/transportDirectory">Типы транспорта</a>
      <li><a href="/transportViev">Просмотр приема</a>
      <li><a href="/basicAnalysis">Базовый анализ</a>
      <li><a href="/additionalAnalysis">Дополнительный анализ</a>
      <li><a href="/filter">Фильтр</a>
    </ul>
  </nav>

</div>