<div th:fragment="tableTransportNow">
  <div id="table" class="transport_table">
    <div class="transport_table_title">
      <div class="transport_table_title_item">Гос номер</div>
      <div class="transport_table_title_item">Прицеп</div>
      <div class="transport_table_title_item">Время</div>
      <div class="transport_table_title_item">Дата</div>
      <div class="transport_table_title_item">Анализ</div>
    </div>
    <div id="rows">
      <a th:each="transportNowDopAnalysis:${transportNowDopAnalysis}" class="transport_table_box" th:href="'/basicAnalysis/'+${transportNowDopAnalysis.id}">
        <div class="transport_table_item" th:text="${transportNowDopAnalysis.num}">1</div>
        <div class="transport_table_item" th:text="${transportNowDopAnalysis.numTrail}">2</div>
        <div class="transport_table_item" th:text="${transportNowDopAnalysis.getTime()}">3</div>
        <div class="transport_table_item" th:text="${transportNowDopAnalysis.getDate()}">4</div>
        <div class="transport_table_item" th:text="${transportNowDopAnalysis.getStatysAnalysis()}">5</div>
      </a>
    </div>
  </div>
</div>